@media (max-width: 800px) {
    .focus {
        width: 90% !important;
    }
}

.focus {
    border: 0.5vw solid white;
    margin-bottom: 60px;
    width: 70%;
    height:fit-content;
}

.title {
    width: 100%;
}

.pronouns {
    color: #8a8a8a;
}

body {
    background: linear-gradient(black, rgb(27, 27, 27) 40%, #353535);
    color: white;
}

a {
    color: white; 
}