#bookmark{
    position: fixed;
    /* A little hack to keep the top border from showing up */
    top:-10px;
}

main {
    margin-left: 250px;
    font-family: sans-serif;
}

.centered {
    display: block;
    text-align: center;
    margin: auto;
}

.focus {
    border: 12px solid white;
    margin-bottom: 60px;
}

.pronouns {
    color: #8a8a8a;
}

body {
    background: linear-gradient(black, rgb(27, 27, 27) 40%, #353535);
    color: white;
}

a {
    color: white; 
}