body{
    background-color: white;
}

a {
    color: black;
}

#bookmark{
    position: absolute;
    /* A little hack to keep the top border from showing up */
    top:-10px;
}

main {
    margin-left: 250px;
    font-family: sans-serif;
}

.centered {
    display: block;
    text-align: center;
    margin: auto;
}

.pronouns {
    color: #3d3d3d;
}