#bookmark{
    position: fixed;
    /* A little hack to keep the top border from showing up */
    top:-10px;
    transition: top 0.25s;
}

@media (max-width: 800px) {
    #bookmark{
        top:-300px;
    }

    main {
        padding-top: 80px;

        margin-left: 0px !important;
    }

    .showcase {
        margin-bottom: 8vh;
    }


    #spreadsheet > .showcase {
        min-height: 400px;
    }
}

main {
    margin-left: calc(205px + 0.7vw);
    font-family: sans-serif;
}

a {
    color: black;
}

.centered {
    display: block;
    text-align: center;
    margin: auto;
}

.pronouns {
    color: #3d3d3d;
}

.showcase {
    width: 100%;
}

@media (min-width: 800px) {
    .segment {
        height: 500px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .content {
        width: 53%;
    }

    .showcase {
        width: 46%;
        height: 100%;
    }
}