body{
    background-color: white;
}

#bookmark{
    position: fixed;
    /* A little hack to keep the top border from showing up */
    top:-10px;
}

main {
    margin-left: 250px;
    font-family: sans-serif;
}

a {
    color: black;
}

.centered {
    display: block;
    text-align: center;
    margin: auto;
}

.pronouns {
    color: #3d3d3d;
}

.segment {
    height: 500px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.content {
    width: 53%;
}

.showcase {
    width: 46%;
}