<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="bookmark">
            <svg height="500" width="200">
                <polygon points="0,0 0,500 100,400 200,500 200,0" style="fill: beige;stroke:brown;stroke-width:5">
                    
                </polygon>
                <text x="20" y="50" fill="black" font-size="20px" text-decoration="underline">Logabe</text>
        
                <g id="pages">
                    <a xlink:href="/">
                        <text x="20" y="100" fill="red">Home</text>
                    </a>
                    <a xlink:href="/#about">
                        <text x="20" y="125" fill="red">About Me</text>
                    </a>
                    <a xlink:href="/projects">
                        <text x="20" y="150" fill="red">Projects</text>
                    </a>
                </g>
                
            </svg>
        </div>

        <main>
            {{ content }}
        </main>
    </body>
</html>