{% if page.comment %}
<!-- {{page.comment}} -->
{% endif %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link href="{{ page.stylesheet }}" rel="stylesheet">
    </head>
    <body>
        <div id="bookmark">
            <svg height="500" width="200">
                <polygon points="0,0 0,500 100,400 200,500 200,0" style="fill: beige;stroke:brown;stroke-width:5">
                    
                </polygon>
                <text x="20" y="50" fill="black" font-size="20px" text-decoration="underline">Logabe</text>
        
                <g id="pages">
                    {% for webpage in site.data.pages %}
                    <a xlink:href="{{webpage.page}}">
                        <text x="20" y="{{forloop.index | times: 25 | plus: 75}}" fill="red">{{webpage.name}}</text>
                    </a>
                    {% endfor %}
                </g>
                
            </svg>
        </div>

        <main>
            {{ content }}
        </main>
    </body>
</html>